body{
background:aliceblue;
}
@media (min-width: 600px) {
  #cont1 {
    width: 100%;
  }
}

#cont2{
  width: 100%;
  text-align: center;
}
@media (max-width: 992px) {
  table {
    font-size: 10px;
    width: 100%;
    background:#001100;
    
  }
  
  td {
    padding: 4px;
  }
}
/* For mobile phones */
@media (max-width: 600px) {
  table {
    font-size:13px;
    width:45%;
    background:lightgreen;
  }
  #cont3,#cont2{
    width:100%;
    
  }
}

#cont3{
  text-align: center;
  padding:3vh;
  backgroung:tomato;
  
}
#btn-cal{
  background: green;
  color:whitesmoke;
  border-radius: 5px;
  width: 50%;
  height: 7vh;
  font-size: large;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#result{
  background: blue;
  color:#000000;
  width: 15%;
  height: 6vh;
  border-radius: 5px;
  border-color: blue;
  font-size: x-large;
  font-weight: bolder;
}
#code{
   width: 30vh;
  text-align:center;
   font-size: large;
   font-weight: bold;
}
#unit{
  width:13vh;
  font-weight: bold;
  font-size: 20px;
}
#grade{
  width:13vh;
  font-weight: bold;
  font-size:20px ;
}
#totalUnit, #totalGrade, #total{
  width:13vh;
  color:#0001100 ;
  font-weight: bold;
  font-size:40px ;
  border:none;
}
